<%= render "shared/banner" %>
<div class="cocktails-container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail), :action => 'go' do %>
        <div <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)" data-aos="zoom-in"><%= cocktail.name %>
        </div>
        <% end %>
    <% end %>
  </div>
</div>
