<div class="banner">
  <div class="container">
    <h1>Change your life</h1>
    <p>Become a cocktails pro</p>
    <%= link_to "Add new cocktail", new_cocktail_path, { :class=>"btn btn-flat" } %>
  </div>
</div>
